{% extends "review/base.html" %}
{% load static %}
{% block title %}title name{% endblock %}
   {% block extrastyle %}
    <link href="{% static 'js/plugins/datatables01/datatables.bootstrap.css' %}" rel="stylesheet">
    {% endblock %}

{% block bside %}
    <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
{#                            <img alt="image" class="img-circle" src="/models/static/img/profile_small.jpg" />#}
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user }}</strong>
                             </span> <span class="text-muted text-xs block"><b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
{#                                <li><a href="{% url 'userPofile' %}">Profile</a></li>#}
{#                                <li class="divider"></li>#}
                                <li><a href="{% url 'userLogout' %}">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li >
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">主页</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/">仪表盘</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">SQL审核</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 'reviewTemp' %}">临时审核</a></li>
                            <li><a href="{% url 'reviewReportListAll' %}">审核列表</a></li>
                            <li  class="active"><a href="{% url 'reviewListAllHistory' %}">历史列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i> <span class="nav-label">使用示例</span></a>
                    </li>
                </ul>
{% endblock %}

{% block bodyct %}
         <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>SQL审核</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">主页</a>
                        </li>
                        <li>
                            <a>SQL审核</a>
                        </li>
                        <li class="active">
                            <strong>历史审核</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
   <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
{#                        <h5>Basic Data Tables example with responsive plugin</h5>#}
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="table_data_tables.html#">Config option 1</a>
                                </li>
                                <li><a href="table_data_tables.html#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                        <table id="table_server" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th >#</th>
                                    <th >上报人</th>
                                    <th >目标数据库</th>
                                    <th >SQL</th>
                                    <th >审核状态</th>
                                    <th >审核时间</th>
                                    <th >审核人</th>
                                    <th >操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                <div class="form-group"><label>Sample Input</label> <input type="email" placeholder="Enter your email" class="form-control"></div>
                <div class="form-group"><label>Sample Input</label> <input type="email" placeholder="Enter your email" class="form-control"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
</div>
{% endblock %}

  {% block footer %}
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>
{% endblock %}
    {% block jscripts %}
    <!-- Mainly scripts -->

    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>


    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

    <!-- jQuery UI -->
    <script src="{% static 'js/plugins/datatables01/jquery.datatables.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables01/datatables.bootstrap.min.js' %}"></script>
    <script>
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
     });

    $(function(){
        var tables=$('#table_server').DataTable({
            //$("#table_server").dataTable({

                //lengthMenu: [5, 10, 20, 30],//这里也可以设置分页，但是不能设置具体内容，只能是一维或二维数组的方式，所以推荐下面language里面的写法。
                paging: true,//分页
                ordering: false,//是否启用排序
                searching: false,//搜索
                processing: true,
                serverSide: true,
                stateSave: true,

                ajax: {//类似jquery的ajax参数，基本都可以用。

                        type: "get",//后台指定了方式，默认get，外加datatable默认构造的参数很长，有可能超过get的最大长度。
                        url: "{% url 'reviewPostHistory' %}",
                        dataSrc: "data",//默认data，也可以写其他的，格式化table的时候取里面的数据

                        data: function (d) {
                            return d;//自定义需要传递的参数。
                        },
                    },
                columns: [//对应上面thead里面的序列
                        { data: 0 },
                        { data: 1 },//字段名字和返回的json序列的key对应
                        { data: 2 },
                        { data: 3 },
                        { data: 4 },
                        { data: 5 },
                        { data: 6 },
                        { data: null }
                    ],
                language: {
                    lengthMenu: '<select class="form-control input-xsmall">' + '<option value="1">1</option>' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="30">30</option>' + '<option value="40">40</option>' + '<option value="50">50</option>' + '</select>条记录',//左上角的分页大小显示。

                    //search: '<span class="label label-success">搜索：</span>',//右上角的搜索文本，可以写html标签
                    paginate: {//分页的样式内容。
                        previous: "上一页",
                        next: "下一页",
                        first: "第一页",
                        last: "最后"
                    },
                    zeroRecords: "没有数据",//table tbody内容为空时，tbody的内容。
                    //下面三者构成了总体的左下角的内容。
                    info: "总共_PAGES_ 页，显示第_START_ 到第 _END_ ，筛选之后得到 _TOTAL_ 条，初始_MAX_ 条 ",//左下角的信息显示，大写的词为关键字。
                    infoEmpty: "0条记录",//筛选为空时左下角的显示。
                    infoFiltered: ""//筛选之后的左下角筛选提示，
                },
                pagingType: "full_numbers",//分页样式的类型
                columnDefs: [
{#                    {#}
{#                         sWidth: "50%", "aTargets": [ 3 ]#}
{#                    },#}
                    {
                    targets: 4,//编辑
                    data: null,//下面这行，添加了编辑按钮和，删除按钮
                    //defaultContent:"<button type='button' class='btn btn-primary btn-sm' data-toggle='modal' data-target='#myModal'><i class='fa  fa-edit'></i>修改</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type='button' class='btn btn-danger btn-sm' data-toggle='modal' data-target='#myModal'><i class='fa  fa-trash'></i>删除</button>"
                    //defaultContent: "<button id='editrow' class='btn btn-primary' type='button' style='margin-right:10px;'>编辑</button><button id='delrow' class='btn btn-primary' type='button'>删除</button>"
                    render: function (data, type, full) {
                                return "<p><span class='label label-success'>已通过</span></p>";
                              }
                },{
                    targets: 7,//编辑
                    data: null,//下面这行，添加了编辑按钮和，删除按钮
                    //defaultContent:"<button type='button' class='btn btn-primary btn-sm' data-toggle='modal' data-target='#myModal'><i class='fa  fa-edit'></i>修改</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type='button' class='btn btn-danger btn-sm' data-toggle='modal' data-target='#myModal'><i class='fa  fa-trash'></i>删除</button>"
                    //defaultContent: "<button id='editrow' class='btn btn-primary' type='button' style='margin-right:10px;'>编辑</button><button id='delrow' class='btn btn-primary' type='button'>删除</button>"
                    render: function (data, type, full) {
                              return "&nbsp;&nbsp;&nbsp;<a type='button' href='/review/v1.0/review/detail/?sqlid="+data[0]+"' class='btn btn-info btn-sm' id='query'><i class='fa  fa-eye'></i>审核结果</a>"
                              }
                }]
            });

            //执行审核
                $('#table_server tbody').on( 'click', 'button#execute', function () {
                    alert("test");
                    var data = tables.row( $(this).parents('tr') ).data();

                        $.ajax({
                            data:{"sqlid":data[0],"id":data[1],"content":data[2],"creator":data[4]},
                            url:"{% url 'reviewActive' %}",
                            type:'post',
                            timeout:"3000",
                            cache:"false",
                            success:function(str){
                                alert("审核成功！");
                                    tables.row().remove().draw( false );//删除这行的数据
                            },
                            error:function(err){
                                alert("审核失败！");
                            }
                        });

                });


                //数据交互修改
            //$('#table_server tbody').on( 'click', 'button#update', function () {
            $(document).delegate(".modal-dialog .btn.btn-primary","click",function(){
                _xsrf = getCookie("_xsrf");
                var id = $("#id").val();
                var name = $("#name").val();
                var host = $("#host").val();
                var port = $("#port").val();
                var type = $("#type").val();
                var userid = $("#userid").attr("value");

                //data = $(".form-horizontal").serialize();
                var data = {"id":id,"name":name,"host":host,"port":port,"type":type,"uid":userid,"_xsrf":_xsrf};

                $.ajax({
                            data:data,
                            url:"/database/update",
                            type:'post',
                            dataType:"json",
                            timeout:"3000",//设置不对，可能造成数据传输失败
                            cache:"false",
                            success:function(str){
                                    if (str=="1"){
                                    alert("1")
                                        //$("#msg").val("更新失败！");
                                        //$("#success").modal();
                                        //$('#myModal').modal("hide");
                                        //tables.row().reupdate().draw( false );

                                    }else{
                                        alert("0")
                                        $("#msg").val("更新成功！");
                                        $("#success").modal();
                                        $('#myModal').modal("hide");
                                        tables.draw( false );//删除这行的数据
                                    }
                            },
                            error:function(err){
                                alert("更新失败！");
                            }
                        });
                });

                //自定义的删除按钮事件
                $('#table_server tbody').on( 'click', 'button#query', function () {
                    var data = tables.row( $(this).parents('tr') ).data();

                        $.ajax({
                            data:{"id":data.database_id,"_xsrf":_xsrf},
                            url:"/database/show",
                            type:'delete',
                            timeout:"3000",
                            cache:"false",
                            success:function(str){
                                alert("删除成功！")
                                    tables.row().remove().draw( false );//删除这行的数据
                            },
                            error:function(err){
                                alert("删除失败！");
                            }
                        });

                });
    });

    </script>

{% endblock %}