{% extends "review/base.html" %}
{% load static %}

{% block bside %}
 <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>

                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user }}</strong>
                             </span> <span class="text-muted text-xs block"><b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="{% url 'userPofile' %}">Profile</a></li>

                                <li class="divider"></li>
                                <li><a href="{% url 'userLogout' %}">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">主页</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/">仪表盘</a></li>
                        </ul>
                    </li>

                    <li >
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">SQL变更</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 'reviewReport' %}">上报</a></li>
                            <li><a href="{% url 'reviewReportList' %}">审核列表</a></li>
                            <li><a href="{% url 'reviewListAllHistory' %}">上报历史记录列表</a></li>
                        </ul>
                    </li>

                    <li  class="active">
                        <a href="#"><i class="fa fa-book"></i> <span class="nav-label">使用示例</span></a>
                    </li>
                </ul>
{%endblock %}
{% block bodyct %}
    <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2></h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">主页</a>
                        </li>
                        <li class="active">
                            <a>使用说明</a>
                        </li>
{#                        <li class="active">#}
{#                            <strong>使用说明</strong>#}
{#                        </li>#}
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
    <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <h2>使用说明</h2>
                        <h3 style="color: #ff2222">Sql语句填写规范:</h3>
                        <p style="color: #ff2222"><strong>1、每个SQL语句结尾必须带有分好';'。</strong></p>
                        <p style="color: #ff2222"><strong> 2、Sql语句中不要使用双引号("")，用单引号（''）代替。</strong></p>
                        <p style="color: #ff2222"><strong> 3、Alert Sql语句中数据库名称、表名称及字段名称不要用符号'`'包起来。</strong></p>
                        <p class="col-md-offset-1">
                            <strong>第一步:</strong>
                        </p>

                                    <div class="item active col-md-offset-2">
                                        <img alt="image" class="img-rounded center" src="/models/static/img/1.png">
                                    </div>
                        <p class="col-md-offset-1">
                            <strong>第二步:</strong>
                        </p>
                                    <div class="item col-md-offset-2">
                                        <img alt="image"  class="img-rounded" width="1000" src="/models/static/img/2.png">
                                    </div>
                        <p class="col-md-offset-1">
                            <strong>第三步:</strong>
                        </p>
                                    <div class="item col-md-offset-2">
                                        <img alt="image"  class="img-rounded" src="/models/static/img/3.png">
                                    </div>
                        <p class="col-md-offset-1">
                            <strong>第四步:</strong>
                        </p>
                                    <div class="item col-md-offset-2">
                                        <img alt="image" width="1000" class="img-rounded" src="/models/static/img/4.png">
                                    </div>

                                <a data-slide="prev" href="#" class="left carousel-control">
{#                                    <span class="icon-prev"></span>#}
                                </a>
                                <a data-slide="next" href="#" class="right carousel-control">
{#                                    <span class="icon-next"></span>#}
                                </a>




                    </div>
                </div>
            </div>

            </div>
        </div>
{% endblock %}


